.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#map {
  width: 80%;
  height: 38em;
  float: right;
}

#sidebar {
  float: left;  /*border: 1px solid black;*/

  /*background-color: red;*/
  width: 19%;
  height: 100%;
  overflow: scroll;
}

.rest_name {
  margin-bottom: 5px;
}

.rest_name:hover {
  color: rgba(100, 100, 100, .5);
}

address {
  width: 100%;
  margin: 0 auto 5px auto;
  font-size: .8em;
}

.review {
  font-size: .8em;
  background-color: rgba(200, 200, 200, .5);
}

.hours {
  font-size: 1em;
  color: black;
}

.review_list {
  list-style: none;  /*border: 1px solid black;*/
  text-align: center;
  padding-left: 0;
}

button {
  border-radius: 7px;
  background-color: #222;
  color: white;
}

button:hover {
  background-color: rgba(200, 200, 200, .5);
  color: #222;
}

.glyphicon {
  font-size: 1.5em;
}

.author {
  font-size: 1.2em;
}

#hidden {
  display: none;
}
